/* début tableau 1 */
.table1 .ligne1 td:nth-child(3n+2){background-color:orange;}
/* pour un tableau */
.table1 .ligne1 td:nth-child(3n+3){background-color:wheat;}
/* pour un tableau */
.table1 .ligne1 td:nth-child(3n+1){background-color:maroon;}
/* pour un tableau */

.table1 .ligne2 td:nth-child(3n+2){background-color:wheat;}
/* pour un tableau */
.table1 .ligne2 td:nth-child(3n+3){background-color:maroon;}
/* pour un tableau */
.table1 .ligne2 td:nth-child(3n+1){background-color:orange;}
/* pour un tableau */

.table1 .ligne3 td:nth-child(3n+2){background-color:maroon;}
/* pour un tableau */
.table1 .ligne3 td:nth-child(3n+3){background-color:orange;}
/* pour un tableau */
.table1 .ligne3 td:nth-child(3n+1){background-color:wheat;}
/* pour un tableau */
/* fin tableau 1 */

/* debut tableau 2 */
.table2 col:nth-child(4n+1) {background: #ECECEC}
.table2 col:nth-child(4n+2) {background: #C8C8C8}
.table2 col:nth-child(4n+3) {background: #8C8C8C}
.table2 col:nth-child(4n+4) {background: #4F4F4F}
/* fin tableau 2 */

/* début tableau 3 */
.table3 .ligne11 td:nth-child(2n+1){background-color:#ECECEC;}
.table3 .ligne11 td:nth-child(2n+2){background-color:#FF5656;}
.table3 .ligne22 td:nth-child(2n+1){background-color:#FF5656;}
.table3 .ligne22 td:nth-child(2n+2){background-color:#FF0F0F;}
/* fin tableau 3 */

table *{
    margin-top: 5em;
    border: solid 0.1px;
}


tr,td{
    height: 25px;
    width: 25px;
}

.center{
    padding: 10%;
    padding-left: 40%;
    padding-right: auto;
    padding-bottom: 10%;
}